# Ignore the compiled db files.
*.db

# Ignore api_key file.
api_key.txt

# Ignore the bot info.
bot_info.py

# Ignore pycache.
__pycache__/

# Ignore tests.
*tests.py

# Ignore generated pdfs.
*.pdf
chat_results.txt